<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymyleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
	      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<title>Add to inventory</title>

	<style>
		.error {color:red}
	</style>
</head>
<body>
	<div class="container">
		<h3>Inventory</h3>
		<hr>

		<p class="h4 mb-4">Add Item</p>

		<form th:action="@{/inventory/save}" th:object="${item}" method="POST">

			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}"/>
			<input type="hidden" name="action" th:value="${action}"/>

			<span th:if="${#fields.hasErrors('itemName')}" th:errors="*{itemName}" class="error"/>
			<input type="text" th:field="*{itemName}" class="form-control mb-4 w-25" placeholder="Item name"/>

			<span th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}" class="error"/>
			<input type="text" th:field="*{quantity}" class="form-control mb-4 w-25" placeholder="Quantity"/>

			<span th:if="${#fields.hasErrors('cost')}" th:errors="*{cost}" class="error"/>
			<input type="text" th:field="*{cost}" class="form-control mb-4 w-25" placeholder="Cost"/>

			<select th:field="*{unit}" class="form-control mb-4 w-25">
				<option th:each="unit : ${units}" th:value="${unit}" th:text="${unit}"/>
			</select>
			<span th:if="${#fields.hasErrors('unit')}" th:errors="*{unit}" class="error"/>

			<button type="submit" class="btn btn-info col-2">Save</button>
		</form>

		<hr>
		<a th:href="@{/inventory}">Back to Inventory</a>
	</div>
</body>
</html>